
<footer id="footer">

    <div class="credit">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>© Optimal Logistic Price</p>
                </div>
                <div class="col-md-8 text-right">
                    <div class="menu-bottom-container">
                        <div class="menu-menu-bottom-container">
                            <!--<ul id="menu-menu-bottom" class="list-unstyled bottom-0 links">-->
                                <!--<li id="menu-item-21"-->
                                    <!--class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21"><a-->
                                        <!--href="http://olp.su/транспортные-услуги">Транспортные услуги</a></li>-->
                            <!--</ul>-->
                            <ul id="menu-menu-bottom" class="list-unstyled bottom-0 links">
                                {% assign pages_list = site.pages | sort:"menusort" %}
                                {% assign group = 'bottommenu' %}
                                {% include pages_list %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>