<header id="header">

    <div id="topbar">

        <div class="container">

            <div class="row">

                <div id="callus" class="col-md-10">

                    <div class="clearfix hidden-xs">

                        <span><i class="fa fa-phone icon-left"></i>Телефон: {{ site.site_phone }} <img src="{{  site.url }}/images/viber-whatsapp.jpg" height="27"/></span>

                        <span class="hidden-sm"><i class="fa fa-envelope icon-left"></i>Email: {{ site.site_email }}</span>

                    </div>

                </div>

                <div id="social" class="col-md-2 hidden-xs">

                    <ul class="social bottom-0 list-unstyled clearfix">

                        <li class="facebook"><a href="http://facebook.ru/" target="_blank" data-placement="bottom"
                                                data-toggle="tooltip" title="Facebook"><i
                                class="fa fa-facebook"></i></a></li>

                        <li class="twitter"><a href="http://twitter.com/" target="_blank" data-placement="bottom"
                                               data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>

                        <li class="googleplus"><a href="http://google.com/" target="_blank" data-placement="bottom"
                                                  data-toggle="tooltip" title="Google Plus"><i
                                class="fa fa-google-plus"></i></a></li>

                    </ul>

                </div>

                <div class="visible-xs">

                    <span class="topbar">Звоните нам: +7 (968) 419 80 13 - Email: info@opl.su </span>

                </div>

            </div>

        </div>

    </div>

    <div id="mainheader" class="fixedheader">

        <div class="container">

            <div class="logo-area">

                <h1 class="logo">

                    <a href="{{ site.baseurl | prepend: site.url }}">
                        <img src="{{ '/images/logo.png' | prepend: site.baseurl | prepend: site.url }}" alt="">
                    </a>

                </h1>

                <span class="descriptions">Международные перевозки грузов</span>

            </div>

            <div class="site-menu right-menu visible-lg visible-md top-10">

                <nav class="menu-menu-container">

                    <div class="menu-menu-menu-container">
                        <!--<ul id="menu-menu-menu" class="sf-menu bottom-0 list-unstyed clearfix">-->
                            <!--<li id="menu-item-19"-->
                                <!--class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-19">-->
                                <!--<a href="{{ site.baseurl | prepend: site.url }}">Главная</a></li>-->
                            <!--<li id="menu-item-16"-->
                                <!--class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16"><a-->
                                    <!--href="{{ 'contacts.html' | prepend: site.baseurl | prepend: site.url }}">Контакты</a></li>-->
                            <!--<li id="menu-item-15"-->
                        <!--</ul>-->
                        <ul id="menu-menu-menu" class="sf-menu bottom-0 list-unstyed clearfix">
                            {% assign pages_list = site.pages | sort:"menusort" %}
                            {% assign group = 'topmenu' %}
                            {% include pages_list %}
                        </ul>
                    </div>
                </nav>
            </div>

            <a href="#mobile-menu" class="reponsive-menu visible-xs button pull-right color"><i class="fa fa-bars"></i></a>

        </div>

    </div>

</header>
